@charset "UFT-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: gray;
    padding-top: 15px;

}
header h1{
    font: 700 1.5em Arial, Helvetica, sans-serif;
    color: black;
    text-align: center;
    padding: 20px;

}

span#tracos {
    background-color: rgb(59, 59, 59);
    display: block;
    text-align: center;
    padding: 10px;
    color: white;
    cursor: pointer;
}
span#tracos:hover{
    background-color: rgb(227, 226, 226);
    color: black;
}
menu#opcoes {
    display: none;
    transition-duration: 1s;
}

header ul {
    list-style: none;
}
header li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;
    text-align: center;
    background-color: dimgray;
    border: 2px solid gray;
    transition-duration: 1s;
}

header a:hover{
    background-color: rgb(254, 254, 254);
    color: black;
}

main {
    width: 90vw;
    background-color: rgb(185, 184, 184);
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;

}
article{
    padding: 10px;
}
article h2 {
    padding-bottom: 20px;
}
article p {
    text-align: justify;
    margin-bottom: 10px;
    text-indent: 20px;
}