@charset "UTF-8";

/*configurações Gerais*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    width: 100vw;
    height: 100vh;
    background-color: black;
    background-repeat: no-repeat;
    background-size: contain;
}
h1{
    color: white;
    text-shadow: 2px 2px 6px #223aeb;
}
