@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Sriracha&display=swap");

:root {
  --fonte1: Verdana, Geneva, Tahoma, sans-serif;
  --fonte2: "Passion One", cursive;
  --fonte3: "Sriracha", cursive;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html,
body {
  height: 100vh;
  background-color: rgb(255, 255, 255);
  overflow-x: hidden;
}

header {
  background-color: black;
  min-height: 200px;
  width: 100vw;
  padding: 50px;
  text-align: center;
}
header p {
  color: white;
  font: italic 100 1em var(--fonte1);
}
h1 {
  color: white;
  font: 800 15vw var(--fonte2);
  font-variant: small-caps;
}
a {
  color: white;
  text-decoration: none;
  font: italic 650 1em var(--fonte1);
}
a:hover {
  text-decoration: underline;
}
main p {
  line-height: 2;
  padding: 20px 10px;
}

article {
  font: italic 200 3.5vw var(--fonte3);
  height: 100%;
  padding: 10vh;
  padding-left: 30px;
  width: 100%;
}
article#imagem1 {
  background: black url(background001.jpg) no-repeat top / cover fixed;
}
article#imagem2 {
  background: black url(background002.jpg) no-repeat top right / cover fixed;
}

article.fundo p {
  background-color: rgba(8, 8, 8, 0.605);
  display: inline-block;
  border-radius: 20px;
  color: white;
}
footer {
  background-color: black;
  text-align: center;
  padding: 10px;
  color: white;
  width: 100vw;
  margin: 0px;
  font-size: 3vw;
}
