@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

div.container {
    display: grid;
    height: 100vh;
    grid-template: 1fr 300px 1fr / 1fr 4fr 1fr;
    background-color: aqua;
    gap: 10px;
}
header {
    grid-area: 1 / 2 / 2 / -2;
    display: flex;
    align-items: center;
    justify-content: center;

}
header h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.2em;
}
main {
    grid-area: 2 / 2 / 3 / -2;
    display: flex;
    flex-flow: column nowrap;
    background-color: white;
    place-items: start;
    border-radius: 10px;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.429);
    padding: 20px 20px;
}
main div.formulario {
    margin: 10px 0;
    
}

main label, p {
    font-size: .8em;
    font-weight: 560;
}

main input#id-nascimento {
    width: 60px;
    height: 20px;
}
main input#verifica {
    margin: 20px 0;
    
}

@media screen and (min-width: 756px) {
    main {
        width: 50%;
        height: 40%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}