@charset "UTF-8";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

div.container {
  display: grid;
  min-height: 100vh;
  grid-template: 1fr auto 1fr / 1fr 4fr 1fr;
  background-color: aqua;
  gap: 10px;
}
header {
  grid-area: 1 / 2 / 2 / -2;
  display: flex;
  align-items: center;
  justify-content: center;
}
header h1 {
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1.2em;
}
main {
  grid-area: 2 / 2 / 3 / -2;
  display: flex;
  flex-flow: column nowrap;
  height: auto;
  background-color: white;
  place-items: start;
  border-radius: 10px;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.429);
  padding: 20px 20px;
}
div.formulario {
  margin: 10px 0;
}
div#resultado {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

label,
p {
  font-size: 1em;
  font-weight: 560;
}

input#id-nascimento {
  width: 60px;
  height: 20px;
}
input#verifica {
  margin: 20px 0;
}
div#imagem {
  height:200px;
  width: 200px;
  border-radius: 50%;
  display: none;
}
#imagem.jovem-mulher {
  background: url(../imagens/jovem-mulher.jpg) no-repeat center center / cover;
  display: block;
}
#imagem.jovem-homem {
  background: url(../imagens/jovem-homem.jpg) no-repeat center center / cover;
  display: block;
}
#imagem.adulto-30 {
  background: url(../imagens/adulto-30.jpg) no-repeat center center / cover;
  display: block;
}
#imagem.adulta-30 {
  background: url(../imagens/adulta-30.jpg) no-repeat center center / cover;
  display: block;
}
#imagem.adulto-40 {
  background: url(../imagens/adulto-40.jpg) no-repeat center center / cover;
  display: block;
}
#imagem.adulta-40 {
  background: url(../imagens/adulta-40.jpg) no-repeat center center / cover;
  display: block;
}
@media screen and (min-width: 756px) {
  div.container {
    display: grid;
    place-items: center;
  }
  main {
    width: 100%;
    max-width: 500px;
  }
}
