body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: gray;
  margin: 0px;
  height: 100%;
  flex-direction: column;
  display: flex;
  min-height: 100vh;
}
header {
  background-color: white;
  padding: 5px;
  margin: 0px 0px 8px 0px;
}
header > h1 {
  font: italic 600 2em sans-serif;
  text-shadow: 8px 7px 4px grey;
  text-align: center;
}
nav > a {
  text-decoration: none;
  color: navajowhite;
  margin: 0px 30px;
  display: inline-block;
  text-shadow: 2px 1px 2px navajowhite;
}
nav {
  background-color: gray;
  text-align: center;
  box-shadow: 6px 3px 6px 0px rgba(0, 0, 0, 0.437);
}
main {
  background-color: white;
  padding: 5px;
  margin: 5px 40px;
  flex-grow: 1;
  border-radius: 10px;
}
section {
  text-align: center;
}
section > a {
  text-decoration: none;
  display: inline-block;
  background-color: navajowhite;
  color: dimgray;
  font: italic 800 2em sans-serif;
  margin: 0px 60px;
}
footer {
  background-color: black;
  color: aliceblue;
  margin: 0px;
}
p {
  text-align: center;
  margin: 0px 100px;
}
article {
  background-color: rgb(156, 156, 156);
  margin: 10px 270px;
}
article > aside {
  background-color: navajowhite;
  color: black;
  margin: 0px;
}
footer > p {
  margin: 0px;
  padding: 15px 0px;
}
