@charset "UTF-8";

/*impressora*/

* {
    margin: 10px;
    padding: 10px;
}

html{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    line-height: 2;
}
menu {
    display: none;
}
article{
    width: 100%;
}
article::after{
    content: "Esse arquivo vou impresso";
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}