@charset "UTF-8";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100vw;
  background-color: rgba(215, 215, 222, 0.91);
}

header {
  display: flex;
  background-color: grey;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
header h1 {
  flex: 0 1 200px;
  text-align: center;
  background-color: whitesmoke;
  border-radius: 10px;
  text-shadow: 1px 1px 0px black;
  padding: 0px 6px;
  color: wheat;
}
header > nav {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  margin: 10px 0px;
}

header > nav > a {
  text-decoration: none;
  color: white;
  background-color: black;
  text-align: center;
  width: 80vw;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  transition-duration: .5s;
  transition-timing-function:
    height 0.5s,
    widht .4s;
}
header > nav > a:hover {
  background-color: whitesmoke;
  color: black;
  margin: 7px 0px;
}

main {
  display: flex;
  background-color: whitesmoke;
  margin: 15px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.505);
}
main > section {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-style: italic;
}
@media screen and (min-width: 650px) {
    header > nav {
        flex-flow: row wrap;
    }
    header > nav > a{
        flex: 0 0 100px;
    }
    
}
