@charset "UTF-8";

.container {
    display: grid;
    grid-template: repeat(3, 100px) / repeat(4, 1fr);
    background-color: rgba(0, 255, 255, 0.4);
    text-align: center;
}



.caixa1{
    /*  
        grid-area: 
    
        grid-row-start -> grid-column-start -> grid-row-end -> grid-column-end
    
    */
    background-color: blueviolet;
    grid-area: 1 / 1 / 2 / -1;
}
.caixa2 {
    /*
    grid-row:   grid-row-start
                grid-row-end

    grid-column:    grid-column-start
                    grid-column-end
}
    */

    background-color: brown;
    grid-row: 2 / -1;
    grid-column: 1 / 3;
}
.caixa3 {
    background-color: burlywood;
    grid-row-start: 2;
    grid-row-end: -1;
    grid-column-start: 3;
    grid-column-end: -1;
}
