@charset "UTF-8";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.container {
  display: grid;
  grid-template: 1fr .5fr 3fr .5fr / 1fr 2fr 1fr;
  width: 50%;
  height: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
header {
  display: flex;
  grid-area: 1 / 1 / 2 / -1;
  align-items: center;
  justify-content: center;
  background-color: aquamarine;
}

nav {
  background-color: antiquewhite;
  grid-area: 2 / 1 / 3 / -1;
}
nav > ol {
  list-style: none;
  display: flex;
  justify-content: center;
}
nav li {
  padding: 0px 10px;
}

main#princinpal {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: 3 / 1 / -2 / -2;
  background-color: rebeccapurple;
}
aside#segundaria {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: 3 / -2 / -2 / -1;
  background-color: blueviolet;
}
footer {
  background-color: cadetblue;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: -2 / 1 / -1 / -1;
}
